html {
	background-color: #CCCCCC;
}

h1 {
	color: #FF0000;
	text-align: center;
	margin-top:50px;
}

h2 {
	text-align: right;
	margin-top: 10px;
	color: #005500;
}

p {
	text-align: justify;
	color: #222222;
}